
/*respomsive*/
@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .about{
        grid-template-columns: 1fr;
    }

    .about .contenedor{
        padding-top: 30px;
    }

    .about-img--left{
        text-align: center;
    }

    .about-paragraph:last-child{
        grid-row: 3/4;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}

@media screen and (max-width: 768px){
    .card-contenedor{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 20px;
        grid-template-areas: 
        "card1      ."
        "card1  card2"
        "card3  card2"
        "card3  card4"
        ".      card4";
    }
}

@media screen and (max-width: 500px){
    .presencacion-img{
        width: 130px;
        height: 130px;
    }

    .about{
        row-gap: 60px;
    }

    .about .contenedor{
        padding: 10px;
    }

    .card-contenedor{
        width: 97%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4";
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}

